/* reseteo y configuracion principal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* propiedades para el fondo principal */
body {
    background-color: #effff5;
}

/* nav superior*/
.navbar {
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 1; /* posicionar el nav por encima del fondo */
}

/* estilos para la lista del nav */
.navbar ul {
    list-style: none; /* quitarle los estilos por defecto a la lista */
    margin-left: 40px;
}

.navbar li {
    display: inline-block;
    margin: 0 60px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #2a6d69;
    font-weight: bold;
}

a:hover{
  color: #000000;
}

.contact-phone {
    position: absolute;
    right: 80px;
    top: 20px;
    color: #00b074;
    font-weight: bold;
}

.telefono {
    margin-bottom: -18px;
    width: 30px;
}

.number {
    margin-left: 40px;
    margin-top: -15px;
}

.number:hover{
  color: #000000;
  font-size: 18px;
}

/* BARRA LATERAL IZQUIERDA */

.barlateralizq {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #01504d;
    z-index: 1;
}

.barlateralizq ul {
    width: 100%;
    text-align: center;
    list-style: none;
}

.barlateralizq ul.arriba {
    position: absolute;
    top: 20px;
}

.barlateralizq ul.abajo {
    position: absolute;
    bottom: 20px;
}

.barlateralizq li {
    margin: 20px 0;
}

.barlateralizq img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.barlateralizq img:hover {
    transform: scale(1.2);
}

/* CONTENEDOR PRINCIPAL */
.container {
    width: 1100px;
    height: 490px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

/* SECCIÓN IZQUIERDA */
.izquierda {
    float: left;
    width: 510px;
    height: 500px;
    position: relative;
    background-color: #0a4747; 
    z-index: 1;
    top:-40px;
    left: -40px;

}

.izquierda .img-dentista {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.3;
}

/* Superposición del contenido */
.izquierda h1,
.izquierda p,
.izquierda .buttons {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.izquierda h1 {
    top: 30%;
    margin-left: 30px;
    text-align: justify;
    font-size: 40px;
    color: #ffffff;
}

.izquierda p {
    bottom: 150px;
    left: 25px;
    font-size: 1rem;
    text-align: justify;
    padding: 0 20px;
    width: calc(100% - 60px);
    color:#e6e6e6;
    margin: 0 auto;
}

.subtitulo{
  color: #1ea878;
  font-size: 35px;
}

.buttons {
    bottom: 45px;
    left: -80px;
    /* width: 100%; */
    padding-right: 20px;
    margin-left: 30px;
}

/* Botones */
.btnprimary, 
.btnsecondary{
    height: 40px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    font-size: medium;
    text-decoration: none;
    margin: 20px;
}

.btnprimary{
    border: none; 
    background-color: #00b074;
    color:white;
}
.btnprimary:hover{
  background-color: transparent;
  border: 2px solid #000000;
  color: #ffffff;
}
.btnsecondary{
  background-color: transparent;
  border: 2px solid #1ea878;
  color: #ffffff;
}
.btnsecondary:hover{
  margin: 20px;
  background-color: #289e77;
  border:none;
}



/* SECCIÓN DERECHA */
.derecha {
    float: right;
    width: 50%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.derecha h2 {
    color: #00b074;
    margin: 0 auto;
    margin-bottom: 30px;
}

.name {
  font-size: 12px;
  color: #9ca5a5;
}
.data {
  margin-top: 20px;
}

/* FORMULARIO */
form {
    width: 100%;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px; 
  background-color: #d1d1d1;
  border: none;
  outline: none;
}

.form-group::after {
  background-color: gray;
}

.form-group input {
    width: 48%;
    float: left;
}

.form-group input:first-child {
    margin-right: 4%;
}

.btn-primary{
  height: 40px;
  width: 120px;
  text-align: center;
  border-radius: 20px;
  font-size: medium;
  text-decoration: none;
  background-color: #1ea878;
  border: none;
  color: #ffffff;
}

.btn-primary:hover{
  background-color: transparent;
  border: 2px solid #000000;
  color: #0a4747;
}

@media (max-width: 720px) {
    header {
        width: 20px;
        font-size: 5px;
    }
    .navbar {

    width: 10px;
    padding: 10px;
    position: relative;
    z-index: 1; }

    .navbar ul {
    font-size: 5px;
    list-style: none;
    margin-left: 10px; }

    .navbar li {
        display: inline-block;
        margin: 0 20px; }

    .navbar li:last-child {
        margin-right: 0; }

    .contact-phone {
        position: absolute;
        right: 40px;
        top: 20px;
        color: #00b074;
        font-weight: bold;
    }

    .telefono {
        margin-bottom: -18px;
        width: 30px;
    }

    .number {
        margin-left: 40px;
        margin-top: -15px;
    }
}